* {
    margin: 0;
    padding: 0;
 }
 
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 70px;
}

header {
    font-size: 2rem;
    font-weight: bold;
    margin: 1em;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background:white;
    z-index:99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}


nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 1em;
}

nav li a {
    color: #000;
    text-decoration: none;
    padding: 1em 1em;
}

.active {
    color: #ea8400;
    font-weight: bold;
}


nav li a:hover {
    color: #ea8400;
    text-decoration: underline;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0.2em 1em;
}

.logo img {
    max-width: 10em;
}

.logo img:hover {
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
}


footer {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #393939;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

footer>* {
    margin: 5px 30px;
}


footer ul {
    list-style-type: none;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

footer li:hover {
    opacity: 0.7;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    align-items: right;
    margin-top: 1em;
}

.footer-column {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fa {
    padding: 0.5em;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}



.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #a63f27;
    color: white;
}

.timeline {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128));
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .timeline-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1em;
    margin-bottom:  0.5em;
    width: 45%;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
  }

.timeline-container-right {
    position: relative;
    left: 55%;
  }

.timeline-container-left {
    width: 42%;
}

  .timeline-circle {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea8400;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }