* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
}

section>* {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding-top: 70px;
}

.odd-section {
    background-color: #f7f7f7;
}

header {
    font-weight: 400;
    font-size: 2rem;
    color: #5c5c5c;
    text-align: center;
    margin: 1em auto;
}

h1 {
    font-size: 6.6rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em auto;
}

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;

}

nav li {
    display: inline;
    margin-right: 1em;
}

nav li a {
    padding: 1em 1em;
}

.active {
    color: #ea8400;
    font-weight: bold;
}


nav li a:hover {
    color: #ea8400;
    text-decoration: underline;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0.2em 1em;
}

.logo img {
    max-width: 10em;
}

.logo img:hover {
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
}


footer {
    width: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #393939;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

footer>* {
    margin: 5px 30px;
}


footer ul {
    list-style-type: none;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

footer li:hover {
    opacity: 0.7;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    align-items: right;
    margin-top: 1em;
}

.footer-column {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fa {
    padding: 0.5em;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #000000;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #a63f27;
    color: white;
}

.timeline {
    background-image: linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128));
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 1em;
    margin-bottom: 0.5em;
    width: 45%;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

.timeline-container-right {
    position: relative;
    left: 55%;
}

.timeline-container-left {
    width: 42%;
}

.timeline-circle {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea8400;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    margin: 2em auto;
}

.card {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    box-shadow: -1px 0 10px 0 rgba(0, 0, 0, .07), 5px 20px 40px 0 rgba(0, 0, 0, .04);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-icon {
    width: 75px;
    height: 75px;
}

/* hide card-description and show on hover */
.card-description {
    display: none;
}


.card:hover .card-description {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5em;
}


.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    min-height: 500px;
    align-items: left;
    color: #000000;
    text-decoration: none;
}

.intro-page-banner {
    background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

.resume-page-banner {
    background-image: url("https://images.unsplash.com/photo-1657524433787-a30cefc92661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}

.projects-page-banner {
    background-image: url("https://images.unsplash.com/photo-1657659558323-08b7854ed766?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

.tools-page-banner {
    background-image: url("https://images.unsplash.com/photo-1586864387789-628af9feed72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.blog-page-banner {
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
}

/* dark mode
      .site-banner {
        
        background-image: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;

        align-items: left;
        color: #ffffff;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        text-decoration: none;
      }
      */

.banner>* {
    padding-left: 30px;

}

.introduction {
    padding-top: 1em;
    font-size: 3.2rem;
}


.title {
    font-size: 2.3rem;
    font-weight: 400;
    color: #065965;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: left;
    animation: blinker 8s linear infinite;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.tagline {
    margin-top: 1.2em;
    margin-bottom: 6em;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: left;
}