body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.bell-curve-visualizer {
    max-width: 960px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.main-header h1 {
    font-size: 2.5rem;
    color: #333;
}

.main-header p {
    font-size: 1.2rem;
}

.input-controls {
    margin: 10px 0;
}

.input-controls label {
    margin-right: 10px;
}

.draw-button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.draw-button:hover {
    background-color: #0056b3;
}

.canvas-container {
    text-align: center;
    margin-top: 20px;
}

#canvas {
    border: 1px solid #ddd;
    touch-action: manipulation;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-header h1 {
        font-size: 2rem;
    }

    .main-header p {
        font-size: 1rem;
    }

    .input-controls label,
    .input-controls input {
        display: block;
        /* Stack inputs vertically on smaller screens */
        margin: 5px 0;
    }

    .canvas-container {
        width: 100%;
        overflow-x: auto;
        /* Allows canvas to be scrollable horizontally */
    }

    #canvas {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .main-header h1 {
        font-size: 1.5rem;
    }

    .main-header p {
        font-size: 0.9rem;
    }
}


.dark-mode {
    background-color: #121212;
    /* Dark background */
    color: #e0e0e0;
    /* Light text */
}

.dark-mode .bell-curve-visualizer {
    background: #1f1f1f;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.dark-mode .main-header h1 {
    color: #e0e0e0;
}

.dark-mode .draw-button {
    background-color: #0056b3;
    color: #fff;
}

.dark-mode .draw-button:hover {
    background-color: #003a75;
}

.dark-mode #canvas {
    border: 1px solid #444;
}