.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
}


label {
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: vertical;
}

.dark-mode textarea {
    background-color: #333;
    color: #fff;
}

#maze-canvas {

    display: block;
    margin: 0 auto;
}

#algorithm {
    max-width: 120px;
}

button {
    display: block;
    width: 100px;
    margin: 10px 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    #maze-canvas {
        height: 60vh;
    }

    .row {
        flex-direction: column;
    }

    .row button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }

    #maze-canvas {
        height: 50vh;
    }

    button {
        width: 80px;
    }
}