#border {
	top:0;
    left:3;
	width:805px;
    height:640px;
    background:rgb(255,255,255);
    position:fixed;
	border: 2px solid rgb(0,0,0,1);
}

#human {
	color: rgb(200, 30, 30);
	top: 320px;
	left: 400px;
}

.person::before {
	border: 2px solid rgb(0,0,0,1);
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 5px;
	background-color: rgba(100,100,100,1);
}

.person::after {
	border: 2px solid rgb(0,0,0,1);
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	right: 5px;
	background-color: rgba(100,100,100,1);
}

.person {
	transition: all 0.2s  ease-in-out;
	border: 1px solid rgb(200,200,200);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 64px;	
	position: absolute;
}