.diff-output {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow-x: auto;
    background-color: #f9f9f9;
    color: #000;
    border-radius: 8px;
    font-family: inherit;
}

.line-number {
    color: #555;
    font-weight: bold;
    margin-right: 10px;
}

.added {
    background-color: #ddffdd;
    text-decoration: underline;
}

.removed {
    background-color: #ffdddd;
    text-decoration: line-through;
}

.dark-mode .diff-output {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

.dark-mode .added {
    background-color: #337733;
}

.dark-mode .removed {
    background-color: #773333;
}

.dark-mode .line-number {
    color: #fff;
}