.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    padding-right: 10px;
    font-weight: bold;
}

textarea,
.diff-output {
    width: 100%;

    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    overflow-x: auto;

    background-color: #f9f9f9;

    color: #000;

}

textarea {
    resize: vertical;
}

.dark-mode textarea,
.dark-mode .diff-output {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

button {
    margin: 10px;
}


.line-number {
    color: #555;
    font-weight: bold;
    margin-right: 10px;
}


.added {
    background-color: #ddffdd;
    text-decoration: underline;
}

.removed {
    background-color: #ffdddd;
    text-decoration: line-through;
}


.dark-mode .added {
    background-color: #337733;
}

.dark-mode .removed {
    background-color: #773333;
}


.dark-mode .line-number {
    color: #fff;
}



@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }
}