table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    table-layout: fixed;
    border-spacing: 0;
    margin: 2em auto;
}

th,
td {
    text-align: left;
    padding: 16px;
    width: 50px;
    height: 50px;

}

td input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
}

tr>* {
    font-style: normal;
}

.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: vertical;
}

.dark-mode textarea {
    background-color: #333;
    color: #fff;
}

#searching-canvas {
    width: 100%;
    height: 800;
    display: flex;
}

#algorithm {
    max-width: 120px;
}

button {
    margin: 10px;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}

/* Adjust styles for even smaller screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }
}