.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;

    margin: 0 auto;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}

#canvas {
    display: block;
    max-width: 100%;
    height: auto;

    border: 1px solid black;
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header ul {
    list-style-type: disc;
    margin-left: 20px;

    text-align: left;
}

@media only screen and (max-width: 767px) {
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        touch-action: manipulation;
    }

    header ul {
        list-style-type: none;
        padding-left: 0;

    }
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }

    .outer {
        max-width: 100%;

    }
}