.outer {
    display: block;
    margin: auto;
    height: auto;
}

#canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
  }
  

header>ul {
    list-style-type: disc;
    margin-left: 0;
    align-items: left;
}

@media only screen and (max-width: 767px) {

    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        touch-action: manipulation;
    }

    header>ul {
        list-style-type: none;
    }
}/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}

/* Adjust styles for even smaller screens */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }
}