* {
    margin: 0;
    padding: 0;

}

@media only screen and (max-width: 810px) {
    * {
        font-size: 12px;
    }
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;

}

section>* {
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    section>* {
        padding: 0 20px;
    }
}

section {
    padding: 1rem 0;
}

.odd-section {
    background-color: #f7f7f7;
}

header {
    font-size: 2rem;
    font-weight: 400;
    color: #5c5c5c;
    text-align: center;
    margin: 1em auto;
}

h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: .05em
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em auto;
}

h3 {
    text-align: center;
}

p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
    line-height: 1.4em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 1em;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    display: inline-flex;
    justify-content: center;
    padding: .8rem 3.4rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: all .3s;
    cursor: pointer;

}

table {
    border-collapse: collapse;
    margin: 2em auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


tr:nth-child(1) {
    font-style: italic;
}

@media screen and (max-width: 767px) {

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        font-size: 16px;
    }
}


.dark-mode {
    background-color:
        #0D1117;
    color: white;
}

.dark-mode header {
    color: #C8C8C8;
}

.dark-mode a {
    color: white;
}

.dark-mode input[type="text"],
.dark-mode input[type="number"],
.dark-mode input[type="email"],
.dark-mode input[type="tel"],
.dark-mode input[type="password"] {
    background-color:

        #141a22;
    border-color:
        #141a22;
    ;
    color: white;
}

.dark-mode button {
    background-color:
        #141a22;
    border-color:
        #141a22;
    color: white;
}

.dark-mode button:hover {
    background-color:
        #C8C8C8;
    border-color:
        #C8C8C8;
    color: white;
}

.dark-mode .odd-section {
    background-color:
        #141a22;
}

.dark-mode table {
    border-color: white;
}

.dark-mode th,
.dark-mode td {
    border-color: white;
}

.dark-mode tr:nth-child(1) {
    color: #878683;
}

.dark-mode tr:nth-child(2n) {
    background-color:
        #141a22;
}

.dark-mode b {
    color: #43423b;
}