* {
	margin: 0;
	padding: 0;

}

@media only screen and (max-width: 810px) {
	* {
		font-size: 12px;
	}
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Nunito", sans-serif;

}

section > * {
	max-width: 1200px;
	margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
	section>* {
		padding: 0 20px;
	}
}

section {
	padding: 1rem 0;
}

.odd-section {
	background-color: #f7f7f7;
}

header {
	font-size: 2rem;
	font-weight: 400;
	color: #5c5c5c;
	text-align: center;
	margin: 1em auto;
}

h1 {
	font-size: 6.6rem;
	font-weight: bold;
	margin-bottom: 5px;
	letter-spacing: .05em
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1em auto;
}

h3 {
	text-align: center;
}

p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	line-height: 1.4em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 1em;
	padding-right: 1em;
}

ul {
	list-style-type: none;
}

li {
	margin-left: 1em;
}

a {
	text-decoration: none;
	color: #000;
}

button {
	display: inline-flex;
	justify-content: center;
	padding: .8rem 3.4rem;
	border-radius: 10px;
	border: none;
	text-decoration: none;
	text-align: center;
	transition: all .3s;
	cursor: pointer;

}