/* Existing CSS for your navigation */
nav {
    width: 100%;
    background: white;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 1em;
}

nav li a {
    padding: 1em 1em;
}

.active {
    color: #ea8400;
    font-weight: bold;
}

nav li a:hover,
nav li a:focus,
nav li a:active {
    color: #ea8400;
    text-decoration: underline;
}

#navbar-toggle {
    display: none;
}

@media only screen and (max-width: 1200px) {
    nav {
        flex-direction: column;
        align-items: flex-end;
    }

    #navbar-toggle {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        appearance: none;
        color: rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        font-size: 2.5rem;
        height: 2.5rem;
        width: 2.5rem;
        padding-bottom: 1.5em;
        cursor: pointer;
    }

    #navbar-toggle:hover,
    #navbar-toggle:focus,
    #navbar-toggle:active {
        color: #ea8400;
    }

    #navbar-toggle:after {
        content: '☰';
    }

    #navbar-toggle:checked:after {
        content: 'x';
    }

    nav ul {
        visibility: hidden;
        opacity: 0;
    }

    .logo {
        display: none;
    }

    #navbar-toggle:not(checked) {
        margin: 0.5em auto 0 0.5em;
    }

    #navbar-toggle:checked {
        position: absolute;
        left: 0;
    }

    #navbar-toggle:checked~ul {
        margin: 1em;
        display: flex;
        flex-direction: column;
        visibility: visible;
        opacity: 1;
        transition: visibility .5s linear, opacity .5s linear;
    }

    #navbar-toggle:checked~ul li {
        margin-bottom: 1em;
    }
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0.2em 1em;
}

.logo img {
    max-width: 10em;
}

.logo img:hover {
    cursor: pointer;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.dark-mode nav {
    background-color: #0D1117;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
    color: white;
}

.dark-mode nav li a {
    color: white;
}

.dark-mode nav li a:hover,
.dark-mode nav li a:focus,
.dark-mode nav li a:active {
    color: #ea8400;
}

.dark-mode .active {
    color: #ea8400;
}

.dark-mode .logo img:hover {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.dark-mode #navbar-toggle {
    color: white;
    background: #0D1117;
}

.dark-mode #navbar-toggle:hover,
.dark-mode #navbar-toggle:focus,
.dark-mode #navbar-toggle:active {
    color: #ea8400;
}

.dark-mode #navbar-toggle:checked~ul {
    background-color: #0D1117;
}

.dark-mode #navbar-toggle:checked~ul li a {
    color: white;
}

/* Custom styles for the GSE search box */
.gcse-search {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* Targeting the internal table structure */
.gsc-search-box {
    margin: 0;
    padding: 0;
}

.gsc-search-box table {
    border-collapse: collapse;
    width: auto;
    margin: 0;
    padding: 0;
}

.gsc-search-box td {
    padding: 0;
    border: none;
}

.gsc-control-cse {
    background: transparent !important;
    border: none !important;
}

/* Styling the search input */
.gcse-search input.gsc-input {
    padding: 5px 10px;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}

/* Styling the search button */
.gsc-search-button-v2 {
    padding: 5px 10px;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    background-color: #4285f4;
    color: white;
    box-sizing: border-box;
    font-size: 14px;
}

/* Additional adjustments for internal elements */
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus {
    box-shadow: none;
    border: none;
}

.dark-mode .gsc-input-box {
    background-color: #0D1117 !important;
    color: white !important;
    border: none !important;
}

.dark-mode input {
    background-color: #0D1117 !important;
    color: white !important;
    border: none !important;
}


/* Media query for small screens */
@media only screen and (max-width: 600px) {
    .gcse-search {
        flex-direction: column;
        align-items: center;
    }

    .gsc-control-cse {
        background: transparent !important;
        border: none !important;
        padding: 0px !important;
    }

    .gsc-input-box {
        margin-bottom: 10px;
        border-radius: 0px !important;
    }



    .gsc-search-box table {
        display: block;
        width: 100%;
    }

    .gsc-search-box td {
        display: block;
        width: 100%;
        text-align: center;
    }

    .gcse-search input.gsc-input {
        width: 80%;
        margin: 0px !important;
        border-radius: 0px !important;
    }

    .gsc-search-button-v2 {
        width: 100%;
        border-radius: 0px !important;
    }
}