
nav {
	width: 100%;
	background: white;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

nav li {
	display: inline;
	margin-right: 1em;
}

nav li a {
	padding: 1em 1em;
}

.active {
	color: #ea8400;
	font-weight: bold;
}


nav li a:hover,
nav li a:focus,
nav li a:active {
	color: #ea8400;
	text-decoration: underline;
}


#navbar-toggle {
	display: none;
}


@media only screen and (max-width:1200px) {

	nav {
		flex-direction: column;
		align-items: flex-end;
	}

	#navbar-toggle {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		appearance: none;
		color: rgb(0, 0, 0);
		background: rgb(255, 255, 255);
		font-size: 2.5rem;
		height: 2.5rem;
		width: 2.5rem;
		padding-bottom: 1.5em;
		cursor: pointer;
	}

	#navbar-toggle:hover,
	#navbar-toggle:focus,
	#navbar-toggle:active {
		color: #ea8400;
	}

	#navbar-toggle:after {
		content: '☰';
	}

	#navbar-toggle:checked:after {
		content: 'x';
	}

	nav ul {
		visibility: hidden;
		opacity: 0;
	}

	.logo {
		display: none;
	}

	#navbar-toggle:not(checked) {
		margin: 0.5em auto 0 0.5em;

	}

	#navbar-toggle:checked {
		position: absolute;
		left: 0;
	}

	#navbar-toggle:checked~ul {
		margin: 1em;
		display: flex;
		flex-direction: column;
		visibility: visible;
		opacity: 1;
		transition: visibility .5s linear, opacity .5s linear;
	}

	#navbar-toggle:checked~ul li {
		margin-bottom: 1em;
	}

}

.logo {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding: 0.2em 1em;
}

.logo img {
	max-width: 10em;
}

.logo img:hover {
	cursor: pointer;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
