.banner {
    padding-top: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    min-height: 500px;
    align-items: left;
    color: #000000;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.intro-page-banner {
    background-image: url("https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}

.resume-page-banner {
    background-image: url("https://images.unsplash.com/photo-1657524433787-a30cefc92661?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}

.projects-page-banner {
    background-image: url("https://images.unsplash.com/photo-1657659558323-08b7854ed766?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

.tools-page-banner {
    background-image: url("https://images.unsplash.com/photo-1586864387789-628af9feed72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.blog-page-banner {
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
}

.about-page-banner {
    background-image: url("https://images.unsplash.com/photo-1506645728556-ac574e628eca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
}


.banner>* {
    padding-left: 30px;

}

.banner-introduction {
    padding-top: 1em;
    font-size: 3.2rem;
}


.banner-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2.3rem;
    font-weight: 400;
    color: #065965;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: left;
    animation: blinker 8s linear infinite;
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.banner-tagline {
    margin-bottom: 6em;
    overflow: hidden;
    letter-spacing: 2px;
    text-align: left;
}