.timeline {
    background-image: linear-gradient(rgb(128, 128, 128), rgb(128, 128, 128));
    background-size: 5px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.timeline ul {
    list-style-type: square;
    margin: auto 2em;
}

.timeline-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeline-container {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* Changed to flex-start for better alignment */
    padding: 1em;
    width: 100%;
    /* Full width on mobile */
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

.timeline-container-right {
    position: relative;
    left: 50%;
    /* Adjusted for mobile */
}

.timeline-container-left {
    width: 100%;
    /* Full width on mobile */
}

.timeline-circle {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea8400;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* Make circles invisible on mobile by default */
}

.dark-mode .timeline {
    background-image: linear-gradient(rgb(70, 70, 70), rgb(70, 70, 70));
    color: white;
}

.dark-mode .timeline ul {
    color: white;
}

.dark-mode .timeline-container {
    background-color: #333333;
    color: white;
    box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

.dark-mode .timeline-circle {
    background-color: #333333;
    color: white;
}


/* Media Query for Mobile Screens */
@media (max-width: 767px) {
    .timeline {
        display: none;
    }

    .timeline-container-right,
    .timeline-container-left {
        width: 100%;
        /* Full width for both containers on mobile */
        left: 0;
        /* Reset left position for the right container */
    }

    .timeline .row {
        margin: 0 auto;
        /* Center the .row element itself */
        display: flex;
        justify-content: center;
        /* Center content in the row */
        flex-wrap: wrap;
        /* Wrap items if necessary */
        gap: 10px;
        /* Spacing between items */
    }

    .timeline-row {
        flex-direction: column;
        /* Stack elements vertically on mobile */
        align-items: center;
        /* Center align items */
    }

    .timeline-circle {
        display: none;
        /* Hide circles on mobile */
    }
}


/* Media Query for Larger Screens */
@media (min-width: 768px) {
    .timeline-container {
        width: 45%;
        /* Adjust width for larger screens */
    }

    .timeline-container-right {
        left: 55%;
        /* Adjust position for larger screens */
    }

    .timeline-container-left {
        width: 42%;
        /* Adjust width for larger screens */
    }

    .timeline-circle {
        display: flex;
        /* Make circles visible on larger screens */
    }
}