#article-body img {
    max-width: 100%;
}

#article-body h2,
#article-body h3,
#article-body h4,
#article-body h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}


#article-body li {
    list-style: disc;
    margin: 1em;

}

#article-body li a:hover {
    color: #ea8400;
}