#article-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

#article-body {
    flex: 1;
    max-width: calc(75% - 1rem);
    margin-right: 1rem;
}

#table-of-contents {
    width: 20%;
    max-width: 20%;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}

#table-of-contents>ol {
    list-style-type: disc;

}

/* Nested entries are shown with bullet points */
#table-of-contents ol ol {
    list-style-type: disc;
    padding-left: 8px;
}

@media (max-width: 768px) {
    #article-wrapper {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
    }

    #article-body {

        width: 100%;
        max-width: 100%;
    }

    #table-of-contents {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
    }

    #table-of-contents ol {
        width: 100%;
        max-width: 250px;
        /* Adjusted for better readability */
    }

    #table-of-contents li {
        text-align: left;
        word-wrap: break-word;
    }
}

#article-body img {
    max-width: 100%;
}

#article-body h2,
#article-body h3,
#article-body h4,
#article-body h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}

#article-body li {
    list-style: disc;
    margin: 1em;

}

#article-body a {
    color: #0077cc;
}

#article-body a:hover {
    text-decoration: underline;
}