

footer {
	width: 100%;
	margin: 2em auto 0 auto;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	background-color: #393939;
	box-shadow: 0px 2px 4px rgba(113, 113, 113, 0.2);
}

footer>* {
	margin: 5px 30px;

}

footer li a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

footer li:hover {
	opacity: 0.7;
}

.footer-columns {
	display: flex;
	justify-content: space-around;
	align-items: right;
	margin-top: 1em;
}

@media only screen and (max-width: 810px) {
	.footer-columns {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1em;
		margin: 2em auto;
	}
}

.footer-column {
	margin-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-column p {
	text-align: center;

}

.fa {
	padding: 0.5em;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 10%;
}


.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-github {
	background: #000000;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #a63f27;
	color: white;
}