.about-me-section img {
    width: 10em;
    height: 10em;
    margin: 1em auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-section a {
    background-color: #717575;
    margin: 1em 0.5em;
}

.about-me-section a:hover {
    transform: scale(1.1);
}

.works-section li {
    list-style-type: square;
}

.works-section h2 {
    margin: 1em auto 0.5em auto;
}