.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px;
}

.article-list-element {
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

.article-list-element a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.article-list-element:hover {
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .1);
    color: rgb(6, 86, 106);
    border-bottom: none;
    transform: scale(1.1);
    z-index: 1;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.pagination {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 3em auto;
}

.pagination a {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    height: 1.5em;
    width: 1.5em;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #000;
}

.pagination a:hover {
    color: #ea8400;
}

.dark-mode .article-list-element {
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.dark-mode .article-list-element a {
    color: #ffffff;
}

.dark-mode .article-list-element:hover {
    color: #ffffff;
    background-color: #141a22;
}

.dark-mode .pagination a {
    border: 1px solid #ccc;
    color: #ffffff;
}

.dark-mode .pagination a:hover {
    color: #ea8400;
}