#dark-mode-button {
    background: url(https://img.icons8.com/emoji/512/new-moon-face.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-size: 25px;
}

.dark-mode #dark-mode-button {
    background: url(https://img.icons8.com/emoji/512/sun-with-face.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-size: 25px;

}