#home-page-content img {
    max-width: 100%;
}

#home-page-content h2,
#home-page-content h3,
#home-page-content h4,
#home-page-content h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}

#home-page-content li {
    list-style: disc;
    margin: 1em;
}

#home-page-content li a {
    color: #007bff;
    /* default link color */
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#home-page-content li a:hover {
    color: #ea8400;
    background-color: #f5f5f5;
    /* light grey background on hover */
    border-radius: 5px;
    /* rounded corners */
    padding: 0.2em 0.4em;
    /* small padding */
}

.threejs-wrapper {
    width: 80vw;
    /* or a specific pixel value */
    height: 60vh;
    /* or a specific pixel value */
    min-height: 500px;
    /* Adjust as needed */
    margin: auto;
    position: relative;
    overflow: hidden;
    /* This ensures that anything outside the container is not shown */
}

#flag-counter {
    display: block;
    /* make the <a> a block-level element */
    margin: 15px auto 0px auto !important;
    /* auto left/right margins center it */
    text-align: center;
    /* (optional) if you want any inline children centered */
}

/* if you ever need to target the <img> directly: */
#flag-counter img {
    display: inline-block;
    /* respects the parent's text-align */
}