#home-page-content img {
    max-width: 100%;
}

#home-page-content h2,
#home-page-content h3,
#home-page-content h4,
#home-page-content h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}


#home-page-content li {
    list-style: disc;
    margin: 1em;

}

#home-page-content li a:hover {
    color: #ea8400;
}

.threejs-wrapper {
    width: 80vw;
    /* or a specific pixel value */
    height: 60vh;
    /* or a specific pixel value */
    min-height: 500px;
    /* Adjust as needed */
    margin: auto;
    position: relative;
    overflow: hidden;
    /* This ensures that anything outside the container is not shown */
}