#home-page-content img {
    max-width: 100%;
}

#home-page-content h2,
#home-page-content h3,
#home-page-content h4,
#home-page-content h5 {
    margin-top: 2em;
    margin-bottom: 1em;
}


#home-page-content li {
    list-style: disc;
    margin: 1em;

}

#home-page-content li a:hover {
    color: #ea8400;
}