:root {
    touch-action: pan-x pan-y;
    height: 100% 
  }
  
.outer {
    display: block;
    margin: auto;
    height: auto;
}

#canvas {
    width: 100%;
    height: 100%;
    min-height: 600px;
    border: 1px solid black;
}

header>ul {
    list-style-type: disc;
    margin-left: 0;
    align-items: left;
}

