.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: vertical;
}

.dark-mode textarea {
    background-color: #333;
    color: #fff;
}

button {
    margin: 10px;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.9rem;
    }
}